<!DOCTYPE html>
<html lang="en">

<head>
	{{#block "meta"}}
	{{/block}}
	{{#block "stylesheets"}}
	{{/block}}
</head>

<body>

	<header>
		{{#block "header"}}
			<h1>Hello World</h1>
		{{/block}}
	</header>

	<main>
		{{#block "main"}}
			<p>Lorem ipsum.</p>
		{{/block}}
	</main>

	<footer>
		{{#block "footer"}}
			&copy; 2018
		{{/block}}
	</footer>
	{{#block "scripts"}}
	{{/block}}
</body>

</html>